<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header-table">
    <h1>Produtos</h1>
    <a th:href="@{/produtos-view/novo}" class="button btn-novo">+ Novo Produto</a>
</div>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço R$</th>
        <th>Ações</th>
    </tr>
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.id}"></td>
        <td th:text="${produto.nome}"></td>
        <td th:text="${#numbers.formatDecimal(produto.preco, 1, 'POINT', 2, 'COMMA')}"></td>
        <td>
            <a th:href="@{'/produtos-view/editar/' + ${produto.id}}" class="button btn-editar">Editar ✏️</a>
            <a th:href="@{'/produtos-view/deletar/' + ${produto.id}}"
               onclick="return confirm('Tem certeza que deseja deletar?');"
               class="button btn-deletar">Deletar 🗑️</a>
        </td>
    </tr>
</table>
</body>
</html>
